@charset "UTF-8";
body {
  font-family: Roboto, sans-serif;
  color: #757575;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

li {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

:focus {
  outline: none;
}

h1 {
  text-transform: uppercase;
  margin: 0;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

button {
  cursor: pointer;
  font-family: inherit;
}

button:hover, button:active, button:focus {
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #212121;
}

a {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    color: #000000;
    text-decoration: none;
    font-family: Raleway;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

.accent {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .accent {
    color: #2196F3;
    font-size: 26px;
    text-decoration: none;
    font-family: Raleway;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

.top-line {
  margin: 0;
  border-bottom: 1px solid #ECECEC;
}

.top-line__container {
  min-height: 60px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .top-line__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .top-line__container .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #ffffff;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    opacity: 0;
  }
  .top-line__container .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-line__container .menu-toggle {
    min-width: 40px;
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .top-line__container .btn-open {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .top-line__container .btn-open:focus, .top-line__container .btn-open:hover {
    fill: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .top-line__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 768px;
    max-height: 80px;
  }
  .top-line__container .menu-toggle, .top-line__container .social-networks-list-mobile-menu {
    display: none;
  }
  .top-line__container .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
  .top-line__container .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-line__container .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 84px;
  }
  .top-line__container .nav-list__menu:not(:last-child) {
    margin-right: 50px;
  }
  .top-line__container .top-line__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    fill: #757575;
    -webkit-transition-property: color , fill;
    transition-property: color , fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .top-line__container .top-line__link:hover, .top-line__container .top-line__link:focus {
    color: #2196F3;
    fill: #2196F3;
  }
  .top-line__container .top-line__icon-mail, .top-line__container .top-line__icon-tell {
    margin-right: 10px;
  }
  .top-line__container .top-line__mail {
    padding-top: 21px;
    padding-bottom: 5px;
  }
  .top-line__container .top-line__tell {
    padding-top: 5px;
    padding-bottom: 21px;
  }
  .top-line__container .link--blue {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .top-line__container .link--blue::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
  }
  .top-line__container .link--blaсk {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #212121;
  }
  .top-line__container .link--blaсk:hover, .top-line__container .link--blaсk:focus {
    color: #2196F3;
  }
}

@media screen and (min-width: 1200px) {
  .top-line__container {
    max-width: 1200px;
  }
  .top-line__container .top-line {
    border-bottom: 1px solid #ECECEC;
  }
  .top-line__container .top-line__contact {
    display: -webkit-box;
  }
  .top-line__container .top-line__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-line__container .menu-container {
    margin-left: 93px;
  }
  .top-line__container .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 305px;
  }
  .top-line__container .nav-list__menu:not(:last-child) {
    margin-right: px;
  }
  .top-line__container .link--blue {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .top-line__container .link--blue::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
  }
  .top-line__container .link--blaсk {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #212121;
  }
  .top-line__container .link--blaсk:hover, .top-line__container .link--blaсk:focus {
    color: #2196F3;
  }
  .top-line__container .top-line__mail, .top-line__container .top-line__tell {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .top-line__container .top-line__mail {
    margin-right: 30px;
  }
  .top-line__container .top-line__link {
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    fill: #757575;
    -webkit-transition-property: color , fill;
    transition-property: color , fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .top-line__container .top-line__link:hover, .top-line__container .top-line__link:focus {
    color: #2196F3;
    fill: #2196F3;
  }
}

.hero {
  background-color: #2F303A;
  text-align: center;
  margin-bottom: 0px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(#2F303A66)), url("../css/../images/Header-tellx1_img.webp");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), #2F303A66), url("../css/../images/Header-tellx1_img.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 118px 60px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(#2F303A66)), url("../css/../images/Header-tellx2_img.webp");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), #2F303A66), url("../css/../images/Header-tellx2_img.webp");
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(#2F303A66)), url("../css/../images/Header_tablet_img.webp");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), #2F303A66), url("../css/../images/Header_tablet_img.webp");
  }
}

@media screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(#2F303A66)), url("../css/../images/Header_tablet_img@2x.webp");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), #2F303A66), url("../css/../images/Header_tablet_img@2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(#2F303A66)), url("../css/../images/Header_tablet_img.webp");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), #2F303A66), url("../css/../images/Header_tablet_img.webp");
  }
}

@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(#2F303A66)), url("../css/../images/Header_tablet_img@2x.webp");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), #2F303A66), url("../css/../images/Header_tablet_img@2x.webp");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(#2F303A66)), url("../css/../images/Header_tablet_img.webp");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), #2F303A66), url("../css/../images/Header_tablet_img.webp");
  }
}

@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(#2F303A66)), url("../css/../images/Header_tablet_img@2x.webp");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), #2F303A66), url("../css/../images/Header_tablet_img@2x.webp");
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 60px;
  }
}

.hero__button {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  border-radius: 4px;
}

.benefits {
  margin: 0px;
}

.benefits__container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits__container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__container {
    max-width: 1200px;
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.block-list {
  margin: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .block-list {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .block-list {
    max-width: 270px;
  }
  .block-list:not(:last-child) {
    margin-right: 30px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}

.box-icon {
  max-height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-list__title {
  text-transform: uppercase;
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .block-list__title {
    text-align: start;
  }
}

.block-list__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.works__container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .works__container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .works__container {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 0px;
  }
}

.works-title {
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 0px;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-block:not(:last-child) {
  margin-right: 30px;
}

.works-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.works-block__text {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 85px;
  white-space: nowrap;
  color: #ffffff;
}

.team {
  background: #F5F4FA;
}

.team__container {
  background: #F5F4FA;
  padding: 60px 15px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .team__container {
    max-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 768px) {
  .team-member-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member-card:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.team-member-card {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .team-member-card {
    max-width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-member-card {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member-card {
    max-width: 270px;
  }
}

.team-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}

.member-info-box__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.photo-memb {
  display: block;
  text-align: center;
  max-width: 450px;
  max-height: 460px;
  height: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .photo-memb {
    max-width: 354px;
    max-height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .photo-memb {
    max-width: 270px;
    max-height: 260px;
  }
}

.member-info-box {
  padding-top: 30px;
  padding-bottom: 24px;
}

.member-info-box__speciality {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social-networks {
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  padding: 12px;
  border-radius: 50%;
  -webkit-transition-property: background-color , fill;
  transition-property: background-color , fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-networks:hover, .social-networks:focus {
  fill: #ffffff;
  background-color: #2196F3;
  border-radius: 50%;
}

.team-link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 122px;
  padding-right: 122px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.clients {
  margin: 0;
}

.clients__container {
  padding: 60px 15px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .clients__container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__container {
    max-width: 1200px;
    padding: 94px 15px;
  }
}

.clients-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.clients-logo {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-logo {
    width: calc((100% - 3 * 60px) / 3);
    max-height: 92px;
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-logo {
    width: 170px;
    max-height: 92px;
    margin: 0;
  }
  .clients-logo:not(:last-child) {
    margin-right: 30px;
  }
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 16px 32px;
  -webkit-transition-property: fill , border;
  transition-property: fill , border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover, .logo-link:focus {
  fill: #2196F3;
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2F303A;
}

.footer__container {
  max-width: 480px;
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__container .footer-links {
    padding-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__container .footer-links {
    margin-right: 93px;
  }
}

.footer-block {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-block {
    margin-right: 165px;
    margin-bottom: 60px;
    padding-left: 61px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-block {
    margin-bottom: 0px;
    margin-right: 70px;
  }
}

.logo--white {
  font-family: Raleway;
  color: #ffffff;
  display: block;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .logo--white {
    font-size: 26px;
    line-height: 31px;
    text-align: start;
  }
}

.accent {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .accent {
    font-size: 26px;
    line-height: 31px;
    text-align: start;
  }
}

.address {
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: start;
  }
}

.footer-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  color: #2196F3;
}

.footer-contakt {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-contakt {
    text-align: start;
  }
}

.footer-box:not(:last-child) {
  margin-bottom: 8px;
}

.footer-block-links__title {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-block-links__title {
    text-align: start;
  }
}

.footer-link-social-networks {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #ffffff;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-social-networks:hover, .footer-link-social-networks:focus {
  background-color: #2196F3;
  fill: #ffffff;
}

.footer-list-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social-networks:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 1200px) {
  .footer-block-links {
    margin-bottom: 60px;
  }
}

.footer-form {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin: 0px;
  }
  .footer-form .footer-form-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form-text {
    text-align: start;
  }
}

.footer-label-mail {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-label-mail {
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.footer-input--mail {
  width: 100%;
  background: inherit;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-input--mail {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input--mail {
    width: 358px;
  }
}

.footer-btn--subscribe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  outline: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.icon-plain {
  position: absolute;
  display: inline-block;
  top: 11px;
  right: 28px;
  width: 24px;
  height: 24px;
}

.svg-plain {
  display: inline-block;
  margin-left: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 93px 15px 94px 15px;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 0px;
  }
}

.backdrop__modal {
  padding: 40px;
  max-height: 609px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .backdrop__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 528px;
    max-height: 581px;
    width: 528px;
    height: 581px;
    background-color: getColor "accent-activ-text";
    padding: 40px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .backdrop__modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  border-radius: 50%;
  background-color: white;
  fill: black;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  fill: #2196f3;
  background-color: transparent;
}

.form__block {
  margin-bottom: 10px;
}

.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form__input-box {
  position: relative;
  display: block;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .icon-box {
  fill: #2196f3;
}

.form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form__textarea {
  margin-bottom: 20px;
}

.form__label-coment {
  margin-bottom: 4px;
  color: #757575;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__textarea-box {
  width: 100%;
  max-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea-box:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form__checkbox {
  margin-bottom: 30px;
}

.form__label-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .form__label-text {
    font-size: 14px;
    line-height: 1.7;
  }
}

.form__square {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__square:checked + .form__checkbox-icon {
  background-color: #2196F3;
  border-color: #2196F3;
  background-image: url("../css/../item/icon-check-5.svg");
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.form__square:focus + .form__checkbox-icon {
  border-color: #2196F3;
}

.form__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.form__agreement-rools {
  font-size: 12px;
  line-height: 14px;
  color: #2196F3;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-left: 3px;
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .form__agreement-rools {
    font-size: 14px;
    line-height: 1.7;
  }
}

.icon-box {
  position: absolute;
  display: inline-block;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: #2196F3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.submit:hover, .submit:focus {
  background: #2196F3;
  outline: none;
}

.portfolio__content {
  max-width: 480px;
  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .portfolio__content {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__content {
    padding-top: 94px;
    max-width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-block__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio__button-container {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__buttons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio__list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__list-item {
  display: inline-block;
}

.portfolio__list-item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.portfolio__button--activ {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-block__list-box:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio-block__list-box {
  position: relative;
  max-width: 450px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-block__list-box {
    width: calc((100% - 2 * 30px) / 2);
  }
  .portfolio-block__list-box:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-block__list-box {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
  }
  .portfolio-block__list-box:nth-child(3n) {
    margin-right: 0px;
  }
  .portfolio-block__list-box:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.portfolio-block__link {
  display: block;
  text-decoration: none;
  color: #757575;
  -webkit-transition: -webkit-box-shadow;
  transition: -webkit-box-shadow;
  transition: box-shadow;
  transition: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-block__link:hover, .portfolio-block__link:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-block__link:focus .portfolio-block__overlay--activ,
.portfolio-block__link:hover .portfolio-block__overlay--activ {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-block__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.portfolio-block__overlay {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-block__overlay--activ {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-block__content-block {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio-block__title {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-block__description {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.menu-container.is-open {
  padding: 48px 40px 60px 40px;
  z-index: 1;
}

.is-open .btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.is-open .btn-close:focus, .is-open .btn-close:hover {
  fill: #2196F3;
}

.is-open .link--blue {
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.is-open .link--blaсk {
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.is-open .nav-list__menu:not(:last-child) {
  margin-bottom: 32px;
}

.is-open .top-line__icon-mail, .is-open .top-line__icon-tell {
  display: none;
}

.is-open .top-line__link.mail {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.is-open .top-line__link.tell {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.is-open .nav-list {
  height: 100%;
}

.is-open .top-line__mail.list-contact {
  margin-bottom: 54px;
}

.is-open .top-line__tell.list-contact {
  margin-bottom: 32px;
}

.is-open .social-networks-list-mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.is-open .social-networks-list-mobile-menu__name {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.is-open .top-line__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.is-open .list-inst {
  position: relative;
}

.is-open .list-twit {
  position: relative;
}

.is-open .list-face {
  position: relative;
}

.is-open .list-inst::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 22px;
  left: 94px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.is-open .list-twit::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 22px;
  left: 67px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.is-open .list-face::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 22px;
  left: 90px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.is-open .social-networks-list-mobile-menu__item:not(:last-child) {
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */