.benefits{
    margin: 0px;
        padding-top: 60px;
        padding-bottom: 60px;
        @media screen and (min-width: 1200px){
            padding-top: 94px;
            padding-bottom: 0px;
        }
    &__container{
        max-width: 480px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 768px) and (max-width: 1199px){
            max-width: 768px;
        }
        @media screen and (min-width: 1200px){
            max-width: 1200px;
        }
    }
}
.benefits-list{
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;  
        margin: -15px;          
    } 
    @media screen and (min-width: 1200px){
        margin: 0;
    }       
}
.block-list{
    @media screen and (max-width: 767px){
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }


    // margin: 0px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
    @media screen and (min-width: 1200px){
        max-width: 270px;
        &:not(:last-child){
            margin-right: 30px;
            margin-left: 0px;
            margin-bottom: 0px;
        }
    }
}
.box-icon{
    max-height: 120px;
    background-color: getColor('background');
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;  
} 
.block-list__title{
    text-transform: uppercase;
    color: getColor('secondary-text') ;
    font-weight: bold;
    font-size: getFont('primary');
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    @media screen and (min-width: 768px){
        text-align: start; 
    }
}
.block-list__text{
    font-size: getFont('primary');
    line-height: 1.7;
    letter-spacing: 0.03em;
}

