.footer{
    background-color: getColor('background-footer');
    &__container{
        max-width: 480px;
        padding: 60px 15px;
        margin-left: auto;   
        margin-right: auto;
        @media screen and (min-width: 768px) and (max-width: 1199px)  {
            max-width: 768px;
            display: flex;
            flex-wrap: wrap;
            .footer-links{
                padding-top: 5px;
            }
        }
        @media screen and (min-width: 1200px){
            max-width: 1200px;
            display: flex;
            .footer-links{
                padding-top: 15px;
                margin-right: 93px;
            }
        }  
    }
}
.footer-block{
    margin-bottom: 60px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 165px;
        margin-bottom: 60px;
        padding-left: 61px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 0px;
        margin-right: 70px;
    }   
}
.logo--white{
    font-family: Raleway;
    color: getColor('accent-activ-text'); 
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 20px;
    @media screen and (min-width: 1200px){
        font-size: 26px;
        line-height: 31px;
        text-align: start;
    }   
}
.accent{
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    @media screen and (min-width: 1200px){
        font-size: 26px;
        line-height: 31px;
        text-align: start;
    }   
}
.address{
    font-style: normal;
    color: getColor('accent-activ-text');    
    font-size: getFont('primary');
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 8px;
        @media screen and (min-width: 1200px){
        text-align: start;
    }
}
.footer-link{
    text-decoration: none;
    color: getColor('footer-text-color');
    font-size: getFont('primary');
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition-property: color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: getColor('accent-activ');
    }
}
.footer-contakt{
    text-align: center;
    @media screen and (min-width: 1200px){
        text-align: start;
    }   
}
.footer-box:not(:last-child){
    margin-bottom: 8px;
}
.footer-block-links__title{
    color: getColor('accent-activ-text');
    font-size: getFont('primary');
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
        @media screen and (min-width: 1200px){
        text-align: start;
    }   
}
.footer-link-social-networks{
    width: 44px;
    height: 44px;
    display: flex;
    fill: getColor('accent-activ-text');
    padding: 12px;
    border-radius: 50%;
    background-color: getColor('background-footer-icon');
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    &:hover,
    &:focus{
    background-color: getColor('accent-activ');
    fill: getColor('accent-activ-text');
    }
}
.footer-list-links{
    display: flex;
    justify-content: center;
}
.footer-social-networks:not(:last-child){
    margin-right: 10px;
}
.footer-block-links{
    @media screen and (max-width: 1200px){
    margin-bottom: 60px;
    }
}




