.team{
    background: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
    &__container{
        background: #F5F4FA;
        padding: 0px 15px;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (min-width: 768px) and (max-width: 1199px){
            max-width: 768px;
        }
        @media screen and (min-width: 1200px){
            max-width: 1200px;
            // padding-top: 94px;
            // padding-bottom: 94px;
        }
    }
}
.team-member-card:not(:last-child){
    @media screen and (max-width: 768px){
    margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px){
        margin-bottom: 0;
        margin-right: 30px;
    }
}
.team-member-card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    max-width: 450px;
    @media screen and (min-width: 768px)  {
        max-width: 354px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
}
    
.team-member-card{
    @media screen and (min-width: 1200px){
    max-width: 270px;
    }
}
.team-title{
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px){
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 50px;
    }
}
.member-info-box__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.photo-memb{
    display: block;
    text-align: center;
    max-width: 450px;
    max-height: 460px;
    height: auto;
    width: 100%;
    @media screen and (min-width: 768px){
        max-width: 354px;
        max-height: 374px;
    }
    @media screen and (min-width: 1200px){
        max-width: 270px;
        max-height: 260px;
    }
}
.member-info-box{
    padding-top: 30px;
    padding-bottom: 24px;
    &__speciality{
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
        margin-bottom: 16px;
    }
}
.social-networks{
    width: 44px;
    height: 44px;
    fill: getColor('fill-color');
    padding: 12px;
    border-radius: 50%;
    transition-property: background-color , fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    @include centeredFlex($type: flex);
    &:hover,
    &:focus{
        fill: getColor('accent-activ-text');
        background-color: getColor('accent-activ');
        border-radius: 50%;
    }
}
.team-link-list{
    display: flex;
    justify-content: space-around;
    padding-left: 122px;
    padding-right: 122px;
}
.team-list{
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    @media screen and (min-width: 1200px){
        margin: 0;
    }
}



