.portfolio__content{
    max-width: 480px;
    padding: 60px 15px;
    @media screen and (min-width: 768px) {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        max-width: 1200px;
    }   
}
.portfolio__button-container{
    margin-bottom: 40px;
}
.portfolio__buttons-list{
    @media screen and (min-width: 768px){
        display: flex;
        justify-content: center;
    }
}
.portfolio__list-item:not(:last-child){
    margin-right: 8px;
    margin-bottom: 15px;
}
.portfolio__list-item{
    display: inline-block;
}
.portfolio__button--activ{
        color: getColor('secondary-text');
        font-weight: 500;
        font-size: getFont('other');
        line-height: 1.6;
        letter-spacing: 0.03em;
        border: none;
        border-radius: 4px;
        padding: 6px 22px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}





// .portfolio{
//     margin-bottom: 0px;
//     &__content{
//         padding-top: 94px;
//         padding-bottom: 94px;
//     }
//     &__button-container{
//         @extend %container;
//     }
//     &__buttons-list{
//         @include centeredFlex($type: flex);
//         margin-bottom: 34px;
//     }
//     &__list-item:not(:last-child){
//         margin-right: 8px;
//     }
//     &__button--activ{
//         color: getColor('secondary-text');
//         font-weight: 500;
//         font-size: getFont('other');
//         line-height: 1.6;
//         letter-spacing: 0.03em;
//         border: none;
//         border-radius: 4px;
//         padding: 6px 22px;
//         transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
//     }
// }
// .portfolio-block{
//     margin-bottom: 0px;
//     &__project-container{
//         @extend %container;
//     }
//     &__list{
//         display: flex;
//         flex-wrap: wrap;
//     }
//     &__list-box{
//         width: calc((100% - 60px) / 3);
//         margin-right: 30px;
//         margin-bottom: 30px;
//         position: relative;
//         &:nth-child(3n){
//              margin-right: 0px;
//        }
//        &:nth-last-child(-n + 3){
//              margin-bottom: 0px;
//        }
//     }
//     &__link{
//         display: block;
//         text-decoration: none;
//         color: getColor('primary-text');   
//         transition: box-shadow;
//         transition-duration: 250ms;
//         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//         &:hover,
//         &:focus{
//              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//         }
//         &:focus .portfolio-block__overlay--activ,
//         &:hover .portfolio-block__overlay--activ{
//             transform: translateY(0%);
//             opacity: 1;
//         }
//     }
//     &__overlay{
//         position: relative;
//         overflow: hidden;
//         display: flex;
//     }
//     &__overlay--activ{
//         font-size: getFont('portfolio');
//         line-height: 28px;
//         letter-spacing: 0.03em;
//         color: getColor('accent-activ-text');
//         padding: 63px 24px;
//         position: absolute;
//         opacity: 0;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-color: getColor('background-overlay') ;
//         transform:translateY(100%) ;
//         transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &__content-block{
//         height: 112px;
//         padding: 20px 24px 20px 24px ;
//         border-bottom: 1px solid #EEEEEE ;
//         border-left: 1px solid #EEEEEE ;
//         border-right: 1px solid #EEEEEE ;
//     }
//     &__title{
//         color: getColor('secondary-text');
//         font-weight: bold;
//         font-size: getFont('portfolio');
//         line-height: 2;
//         letter-spacing: 0.06em;
//         margin-bottom: 4px;
//     }
//     &__description{
//         font-size: getFont('other');
//         line-height: 1.9;
//         letter-spacing: 0.03em;
//     }

// }
